@use "../Abstract/" as *;
@font-face {
    font-family: circular;
    src: url(../assets/font/circular-std-medium-500.ttf) format("truetype");
}
@font-face {
    font-family: inter;
    src: url(../assets/font/Inter-VariableFont-slnt-wght.ttf) format("truetype");
}
body {
    font-family: $primary-font;
    font-weight: 400;
}
