@use "../Abstract/" as *;
@use "../Base/" as *;

.section-destination {
   &__content {
    margin-top: calc(px-to-vw-mobile(64) - $residual-64px);
    @include flex($direction: column, $gap: calc(px-to-vw-mobile(32) - $residual-32px));
    &--top {
      .top-content--left {
        @include flex(
          $direction: column,
          $align: center,
          $justify: center,
          $gap: calc(px-to-vw-mobile(16) - $residual-16px)
        );
       .left-content--title {
          letter-spacing: px-to-vw-mobile(3.2);
          font-size: calc(px-to-vw-mobile(16) - $residual-16px);
        }
  
        .left-content--desc {
          font-size: calc(px-to-vw-mobile(32) - $font-residual-32px);
        }
      }
      .top-content--right{
        margin-top: calc(px-to-vw-mobile(32) - $residual-32px);
        padding: 0 calc(px-to-vw-mobile(16) - $residual-16px);
        @include flex($align: center, $justify: space-between);
        .right-content--btn {
          @include set-size($width: calc(px-to-vw-mobile(64) - $residual-64px));
  
          img {
            @include set-size($width: 100%,$height: 100%);
            object-fit: cover;
          }
        }
      }
    }
    &--bottom {
      @include flex(
        $direction: column,
        $align: center,
        $gap: calc(px-to-vw-mobile(32) - $residual-32px)
      );
      .bottom-content {
        @include set-size($width: calc(px-to-vw-mobile(398) - $residual-398px));
        border-radius: calc(px-to-vw-mobile(32) - $residual-32px);
        background: $first-color-boxshadow-box;
        box-shadow: 0px px-to-vw-mobile(801) px-to-vw-mobile(224) 0px $second-color-boxshadow-box,
          0px px-to-vw-mobile(513) px-to-vw-mobile(205) 0px $third-color-boxshadow-box,
          0px px-to-vw-mobile(288) px-to-vw-mobile(173) 0px $fourth-color-boxshadow-box,
          0px px-to-vw-mobile(218) px-to-vw-mobile(218) 0px $sixth-color-boxshadow-box,
          0px px-to-vw-mobile(32) px-to-vw-mobile(71) 0px $seventh-color-boxshadow-box,
          0px 0px 0px 0px $third-color-boxshadow-box;
  
        &--text {
          @include font(
            $font-family: $primary-font,
            $font-size: calc(px-to-vw-mobile(23) - $font-residual-23px),
            $font-weight: 700,
            $line-height: 120%,
            $color: $third-color-text
          );
        }
        &--heading {
          .heading--img {
            @include set-size(
              $width: px-to-vw-mobile(398),
              $height: px-to-vw-mobile(314)
            );
            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
              border-radius: calc(px-to-vw-mobile(32) - $residual-32px) calc(px-to-vw-mobile(32) - $residual-32px) 0 0;
            }
          }
        }
        &--body {
          @include set-size($width: 100%);
          padding: calc(px-to-vw-mobile(32) - $residual-32px) calc(px-to-vw-mobile(32) - $residual-32px) 0 calc(px-to-vw-mobile(32) - $residual-32px);
          .body-top {
            &--desc {
              margin-top: calc(px-to-vw-mobile(8) - $residual-8px);
              color: $sixth-color-text;
            }
          }
  
          .body--country {
            margin-top: calc(px-to-vw-mobile(16) - $residual-16px);
            @include font(
              $font-family: $second-font,
              $font-size: calc(px-to-vw-mobile(18) - $residual-18px),
              $font-weight: 400,
              $line-height: 160%,
              $color: $fifth-color-text
            );
          }
        }
  
        &--footer {
          @include flex($align: center, $gap: calc(px-to-vw-mobile(8) - $residual-8px));
          padding: 0 calc(px-to-vw-mobile(32) - $residual-32px) calc(px-to-vw-mobile(32) - $residual-32px) calc(px-to-vw-mobile(32) - $residual-32px);
          margin-top: calc(px-to-vw-mobile(32) - $residual-32px);
  
          .footer--evaluate {
            color: $fourth-color-text;
          }
          .footer--iconStar {
            @include set-size($width: calc(px-to-vw-mobile(24) - $residual-24px), $height: calc(px-to-vw-mobile(24) - $residual-24px));
            position: relative;
            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
              position: absolute;
              top: px-to-vw-mobile(-2);
            }
          }
        }
      }
    }
    @include tablet {
      @include flex($gap: px-to-vw-tablet(67));
      &--top {
        .top-content--left {
          @include flex($gap: px-to-vw-tablet(16));
          .left-content--title {
            letter-spacing: px-to-vw-tablet(4.6);
            font-size: px-to-vw-tablet(23);
          }
  
          .left-content--desc {
            font-size: px-to-vw-tablet(40);
          }
        }
        .top-content--right{
          margin-top: px-to-vw-tablet(64);
          padding: 0 px-to-vw-tablet(16);
          @include flex($gap: px-to-vw-tablet(32),$justify: center);
          .right-content--btn{
            @include set-size($width: px-to-vw-tablet(100));
          }
        }
      }
      &--bottom {
        @include flex($direction: row, $gap: px-to-vw-tablet(31));
        margin: 0 auto;
        .bottom-content {
          @include set-size($width: px-to-vw-tablet(278));
          border-radius: px-to-vw-tablet(32);
          &--text {
            @include font($font-size: px-to-vw-tablet(23));
          }
          &--heading {
            .heading--img {
              @include set-size(
                $width: px-to-vw-tablet(278),
                $height: px-to-vw-tablet(314)
              );
              img {
                border-radius: px-to-vw-tablet(32) px-to-vw-tablet(32) 0 0;
              }
            }
          }
          &--body {
            padding: px-to-vw-tablet(32) px-to-vw-tablet(32) 0 px-to-vw-tablet(32);
            .body-top {
              &--desc {
                margin-top: px-to-vw-tablet(8);
              }
            }
            .body--country {
              margin-top: px-to-vw-tablet(16);
              @include font(
                $font-size: px-to-vw-tablet(18),
              );
            }
          }
  
          &--footer {
            @include flex($gap: px-to-vw-tablet(8));
            padding: 0 px-to-vw-tablet(32) px-to-vw-tablet(32) px-to-vw-tablet(32);
            margin-top: px-to-vw-tablet(32);
  
            .footer--iconStar {
              @include set-size($width: px-to-vw-tablet(24),$height: px-to-vw-tablet(24));

              img {
                top: px-to-vw-tablet(-1);
              }
            }
          }
        }
      }
    }
    @include desktop {
      @include flex($gap: px-to-vw-desktop(67));
      @include set-size($width: px-to-vw-desktop(1184));
      @include position($position: relative, $left: 50%);
      transform: translateX(-50%);
      margin-top: px-to-vw-desktop(128);
      &--top {
        @include flex($justify: space-between);
        .top-content--left{
          @include flex($gap: px-to-vw-desktop(16));
          align-items: unset;
          .left-content--title  {
            letter-spacing: px-to-vw-desktop(4.6);
            font-size: px-to-vw-desktop(23);
          }
  
          .left-content--desc{
            font-size: px-to-vw-desktop(40);
          }
        }
        .top-content--right {
          margin-top:unset;
          padding:unset;
          @include flex($gap: px-to-vw-desktop(32));
          .right-content--btn {
            @include set-size($width: px-to-vw-desktop(100));
          }
        }
      }
      &--bottom {
        @include flex($direction: row, $gap: px-to-vw-desktop(31));
        .bottom-content {
          @include set-size($width: px-to-vw-desktop(373));
          border-radius: px-to-vw-desktop(32);
  
          &--text {
            @include font($font-size: px-to-vw-desktop(23));
          }
          &--heading {
            .heading--img {
              @include set-size(
                $width: px-to-vw-desktop(373),
                $height: px-to-vw-desktop(350)
              );
              img {
                border-radius: px-to-vw-desktop(32) px-to-vw-desktop(32) 0 0;
              }
            }
          }
          &--body {
            padding: px-to-vw-desktop(32) px-to-vw-desktop(32) 0
              px-to-vw-desktop(32);
          }
  
          .body-top {
            @include flex(
              $direction: row-reverse,
              $align: center,
              $justify: space-between
            );
            &--desc {
              margin-top: px-to-vw-desktop(8);
              width: px-to-vw-desktop(214);
            }
          }
  
          .body--country {
            margin-top: px-to-vw-desktop(16);
            @include font($font-size: px-to-vw-desktop(18));
          }
  
          &--footer {
            @include flex($gap: px-to-vw-desktop(8));
            padding: 0 px-to-vw-desktop(32) px-to-vw-desktop(32)
              px-to-vw-desktop(32);
            margin-top: px-to-vw-desktop(32);
  
            .footer--iconStar {
              @include set-size($width: px-to-vw-desktop(24), $height: px-to-vw-desktop(24));
            }
          }
        }
      }
    }
   }
}
