@use "../Abstract/" as *;

footer {
  margin-top: calc(px-to-vw-mobile(96) - $residual-96px);
  .footer__content {
    @include set-size($width: calc(px-to-vw-mobile(398) - $residual-398px));
    @include position($position: relative, $left: 50%);
    transform: translateX(-50%);
    &--left {
      .left-content {
        @include flex(
          $direction: column,
          $align: flex-start,
          $gap: calc(px-to-vw-mobile(32) - $residual-32px)
        );

        &--heading {
          .heading-img {
            @include set-size(
              $width: calc(px-to-vw-mobile(142) - $residual-142px ),
              $height: calc(px-to-vw-mobile(40) - $residual-40px)
            );

            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
            }
          }
        }

        &--body {
          .body-text {
            @include font(
              $font-family: $primary-font,
              $font-size: calc(px-to-vw-mobile(16) - $residual-16px),
              $font-weight: 450,
              $line-height: 160%,
              $color: $second-color-text
            );
          }
        }
        &--footer {
          @include flex($align: flex-start, $gap: calc(px-to-vw-mobile(32) - $residual-32px));

          .footer-icon {
            @include set-size(
              $width: calc(px-to-vw-mobile(32) - $residual-32px),
              $height: calc(px-to-vw-mobile(32) - $residual-32px)
            );

            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
            }
          }
        }
      }
    }
    &--right {
      .right-content {
        @include flex($direction: column);
        .right-content-group-title-icon {
          @include flex(
            $align: flex-start,
            $justify: space-between,
            $gap: calc(px-to-vw-mobile(32) - $residual-32px)
          );
          margin-top: calc( px-to-vw-mobile(64) - $residual-64px);
          .right-content--title {
            @include font(
              $font-family: $primary-font,
              $font-size: calc(px-to-vw-mobile(23) - $font-residual-23px),
              $font-weight: 700,
              $line-height: 120%,
              $color: $primary-color-text
            );
          }

          .right-content--iconArrow {
            @include set-size(
              $width: calc(px-to-vw-mobile(24) - $residual-24px),
              $height: calc(px-to-vw-mobile(24) - $residual-24px)
            );
            position: relative;
            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
              cursor: pointer;
              position: absolute;
            }
          }
        }
        .last-group {
          padding-bottom: calc(px-to-vw-mobile(32) - $residual-32px);
        }

        &--list {
          display: none;
        }
      }
    }
  }

  @include tablet {
    margin-top: px-to-vw-tablet(96);
    .footer__content {
      @include set-size($width: px-to-vw-tablet(897));
      padding: px-to-vw-tablet(64) 0 px-to-vw-tablet(64) 0 ;
      &--left {
        .left-content {
          @include flex($gap: px-to-vw-tablet(32));

          &--heading {
            .heading-img {
              @include set-size(
                $width: px-to-vw-tablet(142),
                $height: px-to-vw-tablet(40)
              );
            }
          }

          &--body {
            .body-text {
              @include font($font-size: px-to-vw-tablet(23));
            }
          }
          &--footer {
            @include flex($gap: px-to-vw-tablet(32));

            .footer-icon {
              @include set-size(
                $width: px-to-vw-tablet(32),
                $height: px-to-vw-tablet(32)
              );
            }
          }
        }
      }
      &--right {
        .right-content {
          @include flex($direction: row, $justify: space-between);
          .right-content-group-title-icon {
            margin-top: 0;
            @include flex($gap: px-to-vw-tablet(32));
            margin-top: px-to-vw-tablet(64);
            .right-content--title {
              @include font($font-size: px-to-vw-tablet(23));
              @include set-size($width: px-to-vw-tablet(277.6));
            }

            .right-content--iconArrow {
              display: none;
            }
            
          }
          .last-group {
              padding-bottom:0;
            }
          .right-content-group-title-navList {
            @include flex($direction: column, $gap: px-to-vw-tablet(32));
            .right-content--list {
              @include font(
                $font-family: $second-font,
                $font-size: px-to-vw-tablet(18),
                $font-weight: 400,
                $line-height: 160%,
                $color: $fifth-color-text
              );
              @include flex($direction: column, $gap: px-to-vw-tablet(32));
            }
          }
        }
      }
    }
  }

  @include desktop {
    margin-top: px-to-vw-desktop(96);
    .footer__content {
      @include set-size($width: px-to-vw-desktop(1184));
      @include flex($gap: px-to-vw-desktop(57));
      padding: px-to-vw-desktop(64) 0 px-to-vw-desktop(64) 0 ;

      &--left {
        .left-content {
          @include flex($gap: px-to-vw-desktop(32));
          @include set-size($width: px-to-vw-desktop(560));

          &--heading {
            .heading-img {
              @include set-size(
                $width: px-to-vw-desktop(142),
                $height: px-to-vw-desktop(40)
              );
            }
          }

          &--body {
            .body-text {
              @include font($font-size: px-to-vw-desktop(22));
            }
          }
          &--footer {
            @include flex($gap: px-to-vw-desktop(32));

            .footer-icon {
              @include set-size(
                $width: px-to-vw-desktop(32),
                $height: px-to-vw-desktop(32)
              );
            }
          }
        }
      }
      &--right {
        .right-content {
          @include flex($direction: row, $justify: space-between);
          margin-top: 0;
          .right-content-group-title-icon {
            @include flex($gap: px-to-vw-desktop(32));
            margin-top: px-to-vw-desktop(8);
            .right-content--title {
              @include font($font-size: px-to-vw-desktop(23));
              @include set-size($width: px-to-vw-desktop(165));
            }
          }
          .right-content-group-title-navList {
            @include flex($direction: column, $gap: px-to-vw-desktop(32));
            margin-left: px-to-vw-desktop(16);
            margin-right: px-to-vw-desktop(16);
            .right-content--list {
              @include font(
                $font-size: px-to-vw-desktop(18),
              );
              @include flex($direction: column, $gap: px-to-vw-desktop(32));

            }
          }
        }
      }
    }
  }
}
