@use "../Abstract/" as *;
@use "../Base/" as *;

.header {
  margin: 0 auto;

  .header-shadow {
    display: none;
    @include tablet {
      display: block;
      background-color: $color-boxshadow-header;
      @include position(
        $position: absolute,
        $top: px-to-vw-tablet(-200),
        $left: px-to-vw-tablet(-300)
      );
      z-index: 3;
      @include set_size(
        $width: px-to-vw-tablet(300),
        $height: px-to-vw-tablet(300)
      );
      filter: blur(px-to-vw-tablet(300));
      @include desktop {
        display: none;
      }
    }
  }

  // start header__top
  .header__content {
    padding: calc(px-to-vw-mobile(32) - $residual-32px) 0;
    margin: 0 auto;
    @include set-size($width: calc(px-to-vw-mobile(398) - $residual-398px));
    @include flex($justify: space-between, $direction: row-reverse);

    @include tablet {
      padding: 32px 0;
      @include flex($direction: row, $align: center);
      @include set-size($width: px-to-vw-tablet(896));

      @include desktop {
        @include set-size($width: px-to-vw-desktop(1184));
      }
    }

    &--icon-logo {
      @include set_size($width: px-to-vw-mobile(141.87), $height: 35.7%);
      img {
        @include set_size($width: 100%, $height: 100%);
        object-fit: cover;
      }

      @include tablet {
        @include set_size(
          $width: px-to-vw-tablet(142),
          $height: px-to-vw-tablet(40)
        );

        @include desktop {
          margin-top: px-to-vw-desktop(5);
          @include set_size(
            $width: px-to-vw-desktop(142),
            $height: px-to-vw-desktop(40)
          );
        }
      }
      cursor: pointer;
    }

    &--icon-menu {
      @include set_size(
        $width: calc(px-to-vw-mobile(48) - $residual-48px),
        $height: 42.85%
      );

      @include tablet {
        @include set_size($width: px-to-vw-tablet(48));

        @include desktop {
          display: none;
        }
      }

      img {
        @include set_size($width: 100%, $height: 100%);
        object-fit: cover;
      }
      cursor: pointer;
    }

    &--center {
      display: none;

      @include desktop {
        display: block;
        ul {
          list-style: none;
          @include flex($justify: space-between);
          @include set-size($width: px-to-vw-desktop(428));

          li {
            @include set-size($width: px-to-vw-desktop(87));
            text-align: center;

            a {
              text-wrap: nowrap;
              @include tag_a(
                $color: $second-color-text,
                $text-decoration: none
              );
              @include font(
                $font-family: $primary-font,
                $font-size: px-to-vw-desktop(14),
                $font-weight: bold
              );

              &:hover {
                color: $Nav-hover-text;
              }
            }
          }
        }

        li:first-child {
          a {
            color: $Nav-hover-text;
          }
        }
      }
    }

    &--right {
      display: none;

      @include tablet {
        @include flex($gap: 2px);
        @include set-size($width: px-to-vw-tablet(220));
        button {
          @include button($border-radius: px-to-vw-tablet(30), $border: 0);
          @include transition(
            $transition: 0.4s,
            $transition-timing-function: ease-in-out
          );

          p {
            transition: 0.7s;
            line-height: 120%;
            color: $Nav-hover-text;
            @include font($font-size: px-to-vw-tablet(14), $font-weight: 700);
          }
        }

        .right-content--btnleft {
          @include set-size(
            $width: px-to-vw-tablet(105),
            $height: px-to-vw-tablet(49)
          );
          background-color: $second-color-button;
          &:hover {
            box-shadow: 0 2px 3px 1px $color-button-hover;
          }
        }

        .right-content--btnRight {
          @include set-size(
            $width: px-to-vw-tablet(115),
            $height: px-to-vw-tablet(49)
          );
          background-color: $first-color-button;
          .btnRight--text {
            color: $second-color-button;
          }

          &:hover {
            box-shadow: 0 2px 3px 1px $color-button-hover;
          }
        }

        @include desktop {
          @include set-size($width: px-to-vw-desktop(220));

          button {
            p {
              @include font($font-size: px-to-vw-desktop(14));
            }
          }
          .right-content--btnleft {
            @include set-size(
              $width: px-to-vw-desktop(105),
              $height: px-to-vw-desktop(49)
            );
          }

          .right-content--btnRight {
            @include set-size(
              $width: px-to-vw-desktop(115),
              $height: px-to-vw-desktop(49)
            );
          }
        }
      }
    }
  }
}
