@use "../Abstract/" as *;

#section-testimonials {
  .section-testimonials__content {
    @include set-size($width: px-to-vw-mobile(398));
    @include position($position: relative, $left: 50%);
    transform: translateX(-50%);
    margin-top: px-to-vw-mobile(128);
    &--top {
      @include flex(
        $display: flex,
        $direction: column,
        $align: center,
        $gap: px-to-vw-mobile(64)
      );
      .top-body {
        @include flex(
          $display: flex,
          $direction: column,
          $align: center,
          $gap: px-to-vw-mobile(64)
        );
        &--avatar {
          @include set-size(
            $width: px-to-vw-mobile(128),
            $height: px-to-vw-mobile(128)
          );
          img {
            @include set-size($width: 100%, $height: 100%);
            object-fit: cover;
          }
        }
        .box-name-and-star {
          @include flex(
            $display: flex,
            $direction: column,
            $align: center,
            $gap: px-to-vw-mobile(32)
          );
          &--star {
            @include flex($display: flex, $gap: px-to-vw-mobile(16));
            .star {
              @include set-size(
                $width: px-to-vw-mobile(32),
                $height: px-to-vw-mobile(32)
              );
              img {
                @include set-size($width: 100%, $height: 100%);
                object-fit: cover;
              }
            }
          }

          &--name {
            @include font(
              $font-family: $primary-font,
              $font-size: px-to-vw-mobile(23),
              $font-weight: 700,
              $line-height: 120%,
              $color: $fifth-color-text
            );
            span {
              @include font(
                $font-family: $primary-font,
                $font-size: px-to-vw-mobile(28),
                $font-weight: 700,
                $line-height: 120%,
                $color: $fourth-color-text
              );
            }
          }
        }
        &--desc {
          color: $fifth-color-text;
          margin: 0;
          @include position($position: unset, $left: unset);
          transform: unset;
        }
        &--bottom {
          @include flex($display: flex, $gap: px-to-vw-mobile(24));
          .bottom-iconCircle {
            @include set-size(
              $width: px-to-vw-mobile(24),
              $height: px-to-vw-mobile(24)
            );
            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
            }
          }
        }
      }
    }
    &--bottom {
      margin-top: px-to-vw-mobile(64);
      @include set-size($width: 100%);
      @include flex(
        $display: flex,
        $justify: space-between,
        $gap: px-to-vw-mobile(16)
      );
      .bottom-btn-left {
        @include set-size(
          $width: px-to-vw-mobile(64),
          $height: px-to-vw-mobile(64)
        );
      }
      .bottom-btn-right {
        @include set-size(
          $width: px-to-vw-mobile(64),
          $height: px-to-vw-mobile(64)
        );
      }
      img {
        @include set-size($width: 100%, $height: 100%);
        object-fit: cover;
      }
    }
  }

  .section-testimonials-background{
    display: none;
  }
  @include tablet {    
    .section-testimonials__content {
      @include set-size($width: px-to-vw-tablet(896));
      @include position($position: relative, $left: 50%);
      transform: translateX(-50%);
      margin-top: px-to-vw-mobile(128);
      &--top {
        @include flex($gap: px-to-vw-tablet(56));
        @include set-size($width: px-to-vw-tablet(584));
        @include position($position: relative, $left: 50%);
        transform: translateX(-50%);
        .top-body {
          @include flex($gap: px-to-vw-tablet(56));
          &--avatar {
            @include set-size(
              $width: px-to-vw-tablet(128),
              $height: px-to-vw-tablet(128)
            );
            img {
              @include set-size($width: 100%, $height: 100%);
              object-fit: cover;
            }
          }
          .box-name-and-star {
            @include flex($gap: px-to-vw-tablet(32));
            &--star {
              .star {
                @include set-size(
                  $width: px-to-vw-tablet(32),
                  $height: px-to-vw-tablet(32)
                );
              }
            }

            &--name {
              @include font($font-size: px-to-vw-tablet(23));
              span {
                @include font($font-size: px-to-vw-tablet(28));
              }
            }
          }
          &--desc {
            @include position($position: unset, $left: unset);
            @include set-size($width: px-to-vw-tablet(584));
            font-size: px-to-vw-tablet(23);
          }
          &--bottom {
            @include flex($display: flex, $gap: px-to-vw-tablet(24));
            .bottom-iconCircle {
              @include set-size(
                $width: px-to-vw-tablet(24),
                $height: px-to-vw-tablet(24)
              );
            }
          }
        }
      }
      &--bottom {
        margin-top: px-to-vw-tablet(64);
        @include set-size($width: px-to-vw-tablet(896));
        @include flex($gap: px-to-vw-tablet(16));
        @include position($position: relative,$top: px-to-vw-tablet(-450), $left: 50%);
        transform: translateX(-50%);
        .bottom-btn-left {
          @include set-size(
            $width: px-to-vw-tablet(100),
            $height: px-to-vw-tablet(100)
          );
        }
        .bottom-btn-right {
          @include set-size(
            $width: px-to-vw-tablet(100),
            $height: px-to-vw-tablet(100)
          );
        }
      }
    }

    .section-testimonials-background{
      display: block;
      .background--img {
        @include set-size ($width: px-to-vw-tablet(1024));
         
        img {
          @include set-size ($width: 100%, $height: 100%);
          object-fit: cover;
          opacity: 0.4;
        }
      }
    }

    @include desktop {
      margin-top: px-to-vw-desktop(128);
      width: px-to-vw-desktop(1440);
      .section-testimonials__content {
        &--top {
          @include flex($gap: px-to-vw-desktop(56));
          @include set-size($width: px-to-vw-desktop(584));
          .top-body {
            @include flex($gap: px-to-vw-desktop(56));
            &--avatar {
              @include set-size(
                $width: px-to-vw-desktop(128),
                $height: px-to-vw-desktop(128)
              );
            }
            .box-name-and-star {
              @include flex($gap: px-to-vw-desktop(32));
              &--star {
                .star {
                  @include set-size(
                    $width: px-to-vw-desktop(32),
                    $height: px-to-vw-desktop(32)
                  );
                }
              }

              &--name {
                @include font($font-size: px-to-vw-desktop(23));
                span {
                  @include font($font-size: px-to-vw-desktop(28));
                }
              }
            }
            &--desc {
              @include position($position: unset, $left: unset);
              @include set-size($width: px-to-vw-desktop(584));
              font-size: px-to-vw-desktop(23);
            }
            &--bottom {
              @include flex($display: flex, $gap: px-to-vw-desktop(24));
              .bottom-iconCircle {
                @include set-size(
                  $width: px-to-vw-desktop(24),
                  $height: px-to-vw-desktop(24)
                );
              }
            }
          }
        }
        &--bottom {
          margin-top: px-to-vw-desktop(64);
          @include set-size($width: 100%);
          @include flex($gap: px-to-vw-desktop(16));
          @include position($top: px-to-vw-desktop(220));
          .bottom-btn-left {
            @include set-size(
              $width: px-to-vw-desktop(100),
              $height: px-to-vw-desktop(100)
            );
          }
          .bottom-btn-right {
            @include set-size(
              $width: px-to-vw-desktop(100),
              $height: px-to-vw-desktop(100)
            );
          }
        }
      }
      .section-testimonials-background{
        .background--img {
          @include set-size ($width: px-to-vw-desktop(1440));
           
          img {
            @include set-size ($width: 100%, $height: 100%);
            object-fit: cover;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
