@use "../Abstract/" as *;
@use "../Base/" as *;

.section-travelPoint {
  &__content {
    @include flex(
      $direction: column,
      $gap: calc(px-to-vw-mobile(64) - $residual-64px)
    );
    margin-top: calc(px-to-vw-mobile(64) - $residual-64px);
    &--left {
      .left--img {
        @include set-size($width: calc(px-to-vw-mobile(398) - $residual-398px));
        @include position($position: relative, $left: 50%);
        transform: translateX(-50%);
        img {
          @include set-size($width: 100%, $height: 100%);
          object-fit: cover;
        }
      }
    }
    &--right {
      .right-content {
        &--heading {
          .heading--content {
            letter-spacing: px-to-vw-mobile(3.2);
          }
        }

        &--footer {
          @include flex(
            $direction: column,
            $gap: calc(px-to-vw-mobile(16) - $residual-16px)
          );
          margin-top: calc(px-to-vw-mobile(32) - $residual-32px);
          .footer-content {
            @include set-size($width: calc(px-to-vw-mobile(398) - $residual-398px));
            @include position($position: relative, $left: 50%);
            transform: translateX(-50%);
            border-radius: calc(px-to-vw-mobile(32) - $residual-32px);
            border: 1px solid  $first-color-border-card;
            background: $second-color-border-card;
            padding: calc(px-to-vw-mobile(32) - $residual-32px);

            .footer-content--quantity {
              @include font(
                $font-family: $primary-font,
                $font-size: calc(px-to-vw-mobile(35)  - $residual-35px),
                $font-weight: 700,
                $line-height: 120%,
                $color: $fourth-color-text
              );
              text-align: center;
            }
            .footer-content--desc {
              @include font(
                $font-family: $second-font,
                $font-size: calc(px-to-vw-mobile(18) - $residual-18px),
                $font-weight: 400,
                $line-height: 160%,
                $color: $primary-color-text
              );
              text-align: center;
            }
          }
        }
      }
      .right-iconBag--img {
        display: none;
      }
    }
  }
  @include tablet {
    &__content {
      @include flex($gap: px-to-vw-tablet(64));
      margin-top: px-to-vw-tablet(128);
      &--left {
        .left--img {
          @include set-size($width: px-to-vw-tablet(871));
        }
      }
      &--right {
        .right-content {
          &--heading {
            .heading--content {
              letter-spacing: px-to-vw-tablet(4.6);
              font-size: px-to-vw-tablet(23);
            }
          }

          &--footer {
            @include flex(
              $direction: row,
              $wrap: wrap,
              $justify: center,
              $gap: px-to-vw-tablet(32)
            );
            margin-top: px-to-vw-tablet(32);
            .footer-content {
              @include set-size($width: px-to-vw-tablet(400));
              position: unset;
              transform: unset;
              border-radius: px-to-vw-tablet(32);
              padding: px-to-vw-tablet(32);

              .footer-content--quantity {
                @include font(
                  $font-size: px-to-vw-tablet(35),
                );
              }
              .footer-content--desc {
                @include font(
                  $font-size: px-to-vw-tablet(18),
                );
              }
            }
          }
        }
      }
    }
  }
  @include desktop {
    &__content {
      @include flex($direction: row, $gap: unset);
      @include set-size($width: px-to-vw-desktop(1312));
      @include position($position: relative, $left: 0);

      margin-top: px-to-vw-desktop(128);
      &--left {
        .left--img {
          @include set-size($width: px-to-vw-desktop(871));
        }
      }
      &--right {
        .right-content {
          &--heading {
            .heading--content {
              letter-spacing: px-to-vw-desktop(4.6);
              font-size: px-to-vw-desktop(23);
              @include set-size($width: px-to-vw-desktop(441));
            }
          }

          &--footer {
            @include flex(
              $gap: px-to-vw-desktop(32)
            );
            margin-top: px-to-vw-desktop(64);
            .footer-content {
              @include set-size($width: px-to-vw-desktop(204.5));
              padding: px-to-vw-desktop(32);
              .footer-content--quantity {
                @include font(
                  $font-size: px-to-vw-desktop(35),
                );
              }
              .footer-content--desc {
                @include font(
                  $font-size: px-to-vw-desktop(18),
                );
              }
            }
          }
        }
        .right-iconBag--img {
          display: block;
          @include position(
            $position: absolute,
            $top: px-to-vw-desktop(220),
            $right: px-to-vw-desktop(-10)
          );
          @include set-size($width: px-to-vw-desktop(100));

          img {
            @include set-size($width: 100%, $height: 100%);
            object-fit: 100%;
          }
        }
      }
    }
  }
}
