    @use "sass:math";
    // font
    $primary-font: circular;
    $second-font: inter;

    //reponsive
    $mobile-small: 15em;
    $mobile-small-max: 20em;
    $mobile-medium-max: 26.9375em;
    $tablet-small-max: 48em;
    $tablet-max: 64.0625em;

    //view-port
    $viewport-width-desktop: 1440;
    $viewport-width-tablet: 1024;
    $viewport-width-mobile: 430;

    //calc mobile
    $residual-7px: 0.00651px;
    $residual-8px: - 2.523px;
    $residual-12_33px: 0.005px;
    $residual-14px: 0.013px;
    $residual-16px:  0.0149px;
    $residual-18px:  0.0167px;
    $residual-20px:  0.01px;
    $residual-23px:  0.01px;
    $font-residual-23px:  0.0214px;
    $residual-24px: 0.01px;
    $font-residual-24px: 0.0223px;
    $font-residual-28px: 0.026px;
    $residual-28px: 0.02px;
    $residual-32px: 0.02px;
    $font-residual-32px: 0.0298px;
    $residual-35px: 0.0326px;
    $residual-40px: 0.0372px;
    $residual-41px: 0.0372px;
    $residual-48px: 0.04px;
    $residual-56px: 0.05px;
    $residual-64px: 0.05px;
    $residual-67px: 0.05px;
    $residual-70px: 0.06px;
    $residual-72px: 0.06px;
    $residual-82px: 0.076px;
    $residual-85px: 0.079px;
    $residual-89px: 0.077px;
    $residual-96px: 0.089px;
    $residual-100px: 0.09px;
    $residual-108px: 0.1px;
    $residual-117px: 0.1px;
    $residual-128px: 0.11px;
    $residual-132px: 0.12px;
    $residual-139px: - 0.5px;
    $residual-398px: 0.362px;
    $residual-142px: 0.13px;
    $residual-148px: 0.13px;
    $residual-154px: 0.14px;
    $residual-205px: 0.19px;    
    $residual-224px: 0.2px;
    $residual-270px: 0.25px;
    $residual-300px: 0.27px;
    $residual-334px: 0.3px;
    $residual-350px: 0.32px;
    $residual-366px: 0.34px;
    $residual-396px: 0.36px;  
    $residual-430px: 0.4px;  
    $residual-438px: 0.4px;    

    //color
    $primary-color-text: rgba(25, 24, 37, 1);
    $second-color-text: rgba(25, 24, 37, 0.5);
    $third-color-text: rgba(248, 94, 159, 1);
    $fourth-color-text: rgba(255, 87, 34, 1);
    $fifth-color-text: rgba(25, 24, 37, 0.75);
    $sixth-color-text: rgba(0, 0, 0, 1);
    $seven-color-text: rgba(238, 238, 238, 1);
    $eighth-color-text: rgba(57, 62, 70, 1);
    $Nav-hover-text: rgba(34, 40, 49, 1);
    $first-color-button: rgba(93, 80, 198, 1);
    $second-color-button: rgba(255, 255, 255, 1);
    $third-color-button: rgba(25, 24, 37, 0.1);
    $color-button-hover: #5d50c6;
    $color-boxshadow-header: #ff5722;
    $color-boxshadow-header-bottom: #facd49;
    $first-color-boxshadow-button: rgba(133, 133, 137, 0.5);
    $second-color-boxshadow-button: rgba(199, 199, 206, 0.5);
    $third-color-boxshadow-card: rgba(0, 0, 0, 0.1);
    $color-dropShadow-icon: rgba(76, 74, 74, 0.5);
    $first-color-border-card: rgba(25, 24, 37, 0.1);
    $second-color-border-card: rgba(255, 255, 255, 1);
    $first-color-boxshadow-box:#fff;
    $second-color-boxshadow-box:rgba(0, 0, 0, 0);
    $third-color-boxshadow-box:rgba(0, 0, 0, 0.01);
    $fourth-color-boxshadow-box:rgba(0, 0, 0, 0.03);
    $sixth-color-boxshadow-box:rgba(0, 0, 0, 0.04);
    $seventh-color-boxshadow-box:rgba(0, 0, 0, 0.05);
    $first-color-button:rgba(93, 80, 198, 1);
    $second-color-button:rgba(255, 255, 255, 1);
    $third-color-button:rgba(25, 24, 37, 0.1);
    $color-button-hover:#5D50C6;
    $color-boxshadow-header: #FF5722;
    $color-boxshadow-header-bottom: #FACD49;
    $first-color-boxshadow-button:rgba(133, 133, 137, 0.5);
    $second-color-boxshadow-button:rgba(199, 199, 206, 0.5);
    $color-dropShadow-icon:rgba(76, 74, 74, 0.5);
    $color-background-section-newsletter: rgba(250, 205, 73, 0.08);
    $color-input-section-newsletter: #fff;
