// font
$primary-font: circular;
$second-font: inter;

//reponsive
$mobile-small: 15em;
$mobile-small-max: 20em;
$mobile-medium-max: 26.9375em;
$tablet-small-max: 48em;
$tablet-max: 64.0625em;

//view-port
$viewport-width-desktop: 1440;
$viewport-width-tablet: 1024;
$viewport-width-mobile: 430;


//color
$primary-color-text:rgba(25, 24, 37, 1);
$second-color-text:rgba(25, 24, 37, 0.5);
$third-color-text:rgba(248, 94, 159, 1);
$fourth-color-text: rgba(255, 87, 34, 1);
$fifth-color-text: rgba(25, 24, 37, 0.75);
$sixth-color-text:rgba(0, 0, 0, 1);
$seven-color-text:rgba(238, 238, 238, 1);
$eighth-color-text:rgba(57, 62, 70, 1);
$Nav-hover-text: rgba(34, 40, 49, 1);
$first-color-button:rgba(93, 80, 198, 1);
$second-color-button:rgba(255, 255, 255, 1);
$third-color-button:rgba(25, 24, 37, 0.1);
$color-button-hover:#5D50C6;
$color-boxshadow-header: #FF5722;
$color-boxshadow-header-bottom: #FACD49;
$first-color-boxshadow-button:rgba(133, 133, 137, 0.5);
$second-color-boxshadow-button:rgba(199, 199, 206, 0.5);
$third-color-boxshadow-card:rgba(0, 0, 0, 0.1);
$color-dropShadow-icon:rgba(76, 74, 74, 0.5);
$first-color-border-card:rgba(25, 24, 37, 0.10);
$second-color-border-card:rgba(255, 255, 255, 1);
