<each loop="item in {{list}}">
    <div class="bottom-content">
      <div class="bottom-content--heading">
        <include src="./components/boxImg.html" locals='{
          "list": [
           {"classNameFigure": "heading--{{item.classNameImg}}","classNameImg": "", "srcImg": "{{item.srcImg}}", "alts": "{{item.alts}}" }
          ]
        }'>
          
        </include>
      </div>
      <div class="bottom-content--body">
        <div class="body-top">
          <p class="bottom-content--text body-top--price">
            {{item.contentPrice}}
          </p>
          <p class="bottom-content--text body-top--desc">{{item.contentDesc}}</p>
        </div>
        <p class="body--country">{{item.contentCountry}}</p>
      </div>
      <div class="bottom-content--footer">
        <p class="bottom-content--text footer--evaluate">
          {{item.contentEvaluate}}
        </p>
        <include src="./components/boxImg.html" locals='{
          "list": [
           {"classNameFigure": "footer--iconStar","classNameImg": "", "srcImg": "../assets/icon/star_frame1.svg", "alts": "icon star" }
          ]
        }'>      
        </include>
      </div>
    </div>
</each>
