<each loop="item in {{list}}">
  <div class="right-content-group-title-icon  {{item.classNameGroup}}">
    <div class="right-content-group-title-navList">
      <h6 class="right-content--title">{{item.title}}</h6>
      <ul class="right-content--list">
        <li class="list-item1"><a href="#">{{item.contentItem1}}</a></li>
        <li class="list-item2"><a href="#">{{item.contentItem2}}</a></li>
        <li class="list-item3"><a href="#">{{item.contentItem3}}</a></li>
        <li class="list-item4"><a href="#">{{item.contentItem4}}</a></li>
      </ul>
    </div>
    <figure class="right-content--iconArrow">
      <img
        class="icon-arrow"
        src="../assets/icon/arrow-circle-down.svg"
        alt="icon arrow"
      />
    </figure>
  </div>
</each>
