<footer>
    <!-- start footer__content  -->
    <div class="footer__content">
        <!-- start footer__content--left -->
        <div class="footer__content--left">
            <!-- start left-content -->
            <div class="left-content">
                <!-- start left-content--heading -->
                <div class="left-content--heading">
                    <include src="./components/boxImg.html" locals='{
                        "list": [
                        {"classNameFigure": "heading-img", "classNameImg": "img-logo", "srcImg" : "../assets/icon/Logo_frame1.svg", "alts": "icon logo"}
                        ]
                    }'>

                    </include>
                </div>
                <!-- end left-content--heading -->

                <!-- start left-content--body-->
                <div class="left-content--body">
                    <p class="body-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                        in a piece of classical Latin literature from 45 BC.</p>
                </div>
                <!-- end left-content--body-->

                <!-- start left-content--footer-->
                <div class="left-content--footer">
                    <include src="./components/boxImg.html" locals='{
                        "list" : [
                         {"classNameFigure": "footer--iconFB footer-icon", "classNameImg": "imgFB", "srcImg" : "../assets/icon/icon_fb_frame1.svg", "alts": "icon fb"},
                         {"classNameFigure": "footer--iconTwitter footer-icon", "classNameImg": "imgTwitter", "srcImg" : "../assets/icon/twitter_frame1.svg", "alts": "icon twitter"},
                         {"classNameFigure": "footer--iconIG footer-icon", "classNameImg": "imgIG", "srcImg" : "../assets/icon/instagram_frame1.svg", "alts": "icon IG"}
                        ]
                    }'>
                    </include>
                </div>
                <!-- start left-content--footer-->
            </div>
            <!-- end left-content -->
        </div>
        <!-- end footer__content--left -->

        <!-- start footer__content--left -->
        <div class="footer__content--right">
        <!-- start right-content -->
            <div class="right-content">
                <include src="./components/navFooter.html" locals='{
                "list" : [
                 {"title":"Company","contentItem1": "About", "contentItem2": "Career", "contentItem3": "Mobile", "contentItem4": ""},
                 {"title":"Contact Us","contentItem1": "Why Travlog?", "contentItem2": "Partner with us", "contentItem3": "FAQ’s", "contentItem4": "Blog"},
                 {"title":"Meet Us","contentItem1": "+00 92 1234  56789", "contentItem2": "info@travlog.com", "contentItem3": "205. R Street, New York", "contentItem4": "BD23200", "classNameGroup": "last-group"}
                ]
            }'>
                </include>
            </div>
        <!-- end right-content -->
        </div>
        <!-- end footer__content--left -->
    </div>
    <!-- start footer__content  -->
</footer>
