<header class="header">
  <!-- start box shadow header  -->
  <div class="header-shadow"></div>
  <!-- start box shadow header  -->

  <!-- start header__content -->
  <div class="header__content">
    <!-- start icon logo and icon menu  -->
    <include
    src="./components/boxImg.html"
    locals='{
              "list": [
               {"classNameFigure": "header__content--icon-menu", "classNameImg": "menu", "srcImg": "../assets/icon/menu.svg","alts":"menu"},
               {"classNameFigure": "header__content--icon-logo", "classNameImg": "logo", "srcImg": "../assets/icon/Logo_frame1.svg","alts":"logo"}
             ]
          }'
  >
  </include>
    <!-- start icon logo and icon menu  -->

    <!-- start header__content-center  -->
    <div class="header__content--center">
      <ul>
        <include
          src="./components/navList.html"
          locals='{
                     "list":[
                     {"link":"#","content":"Home"},
                     {"link":"#","content":"Discover"},
                     {"link":"#","content":"Special Deals"},
                     {"link":"#","content":"Contact"}
                     ]
                 }'
        >
        </include>
      </ul>
    </div>
    <!-- end header__content--center  -->

    <!-- start header__content--right  -->
    <div class="header__content--right">
      <include
        src="./components/button.html"
        locals='{
             "list":[
             {"classBtn":"right-content--btnleft","classText":"btnleft--text","content":"Log In"},
             {"classBtn":"right-content--btnRight","classText":"btnRight--text","content":"Sign Up"}
             ]
         }'
      >
      </include>
    </div>
    <!-- end header__content--right  -->
  </div>
  <!-- end header top  -->
</header>
