<main>
  <!-- start section Services -->
  <div class="section-services">
    <div class="section-services__left">
      <h5 class="title">Services</h5>
      <p class="desc">Our top value categories for you</p>
    </div>
    <div class="section-services__right">
      <include
        src="./components/services-card.html"
        locals='{
        "list": [
         {"classNameCard": "services-card", "linkImg": "../assets/icon/earth_frame1.svg", "alts": "earth","title": "Best Tour Guide" , "desc": "What looked like a small patch of purple grass, above five feet." },
         {"classNameCard": "services-card", "linkImg": "../assets/icon/booking_pane2_frame1.svg", "alts": "booking","title": "Easy Booking" , "desc": "Square, was moving across the sand in their direction." },
         {"classNameCard": "services-card", "linkImg": "../assets/icon/cloudy.svg", "alts": "haft-icon","title": "Best Tour Guide" , "desc": "What looked like a small patch of purple grass, above five feet." }
        ]
      }'
      >
      </include>
    </div>
  </div>
  <!-- end section Services -->
</main>
